<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>File upload platform</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div style="margin: 10px; padding: 10px;">
		<form method="post" action="/update/ + ${fileId}">
			<input type="text" name="fileId" style="margin: 10px; padding: 10px;">File ID</input>
			<br />
			<input type="text" name="title" style="margin: 10px; padding: 10px;">Title</input>
			<br />
			<input type="text" name="description" style="margin: 10px; padding: 10px;">Description</input>
			<br />
			<button type="submit" >Update file meta data</button>
		</form>
	</div>

</body>
</html>