<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>File upload platform</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<a th:href="@{/welcome}">Go to home page</a>

	<div style="margin: 10px; padding: 10px;">
		<form method="post" action="/aws/upload" enctype="multipart/form-data">
			<input type="file" name="file" style="margin: 10px; padding: 10px;"></input>
			<br />
			<button type="submit" >Upload file</button>
		</form>
	</div>

</body>
</html>