<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>File upload platform</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<div style="margin: 10px; padding: 10px;">
	
	<a th:href="@{/login}">Click here to login for existing user</a>
	<br>
		<form method="post" action="/users">
			<input type="text" name="emailAddress" style="margin: 10px; padding: 10px;">Username</input>
			<br />
			<input type="text" name="password" style="margin: 10px; padding: 10px;">Password</input>
			<br />
			<button type="submit" >Sign up</button>
		</form>
	</div>

</body>
</html>