<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File upload platform</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1 th:text="${welcome}"></h1>

<a th:href="@{/uploaded}">View list of already uploaded files</a>
<br />
<br />
<a th:href="@{/upload}">Upload a new file</a>
<br />
<br />
<a th:href="@{/remove}">Remove an existing file</a>
<br />
<br />

<a th:href="@{/update}">Update meta data about existing file</a>
<br />
<br />

<a th:href="@{/logout}">Logout</a>

</body>
</html>